.techs {
  background: #272727;
  min-height: 625px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 100px auto 90px;
  display: flex;
  width: 1140px;

  border-bottom: 1px solid #dadada;
}

.techs__header {
  margin: 0;
  color: #fff;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

.techs__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

.techs__title {
  margin: 0;
  align-self: center;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
}

.techs__description {
  margin: 0 0 100px 0;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.56px;
}

.techs__list {
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.techs__item {
  border-radius: 10px;
  background: #303030;
  width: 90px;
  height: 60px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
