.dev-info {
  background: #202020;

  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dev-info__wrap {
  width: 1140px;
  margin: 65px auto 100px;
  display: flex;
  gap: 270px;
}

.dev-info__content {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.dev-info__name {
  margin: 0 0 18px 0;
  color: #fff;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
}

.dev-info__description {
  margin: 0 0 26px 0;
  color: #fff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
}

.dev-info__text {
  margin: 0 0 99px 0;
  color: #fff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.dev-info__link {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dev-info__img {
  width: 270px;
  height: 327px;
  border-radius: 10px;
}
